.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    text-align: center; /* Yeni satır */
}

.slide img {
    max-width: 100%;
    height: auto;
}